@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.Bodonifont {
    font-family: 'Bodoni Moda', serif;
}

.lspace-1 {
    letter-spacing: 1px;
    font-size: 13px;
}

.borders-right {
    border-right: 2px solid rgba(71, 71, 71, 0.281);
}

.rside {
    background-color: #FAFAFA;
}

.current {
    font-size: 14px;
}

.update-circle {
    background-color: transparent !important;
    border-left: none !important;
    color: #071227 !important;
}

.no-right-border {
    border-right: none !important;
}

.btn-dull {
    background-color: black;
    color: white
}

.btn-dull:hover {
    color: blanchedalmond;
}


/* //Right side */

.item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}

.notify-badge {
    position: absolute;
    right: -10px;
    top: 10px;
    background: #808080;
    text-align: center;
    border-radius: 50%;
    color: white;
    padding: 5px 8px;
    font-size: 10px;
}

.borders {
    border: 0.5px solid #808080;
    border-radius: 5px;
}

.size-10 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px !important;
}

.border-outer {
    border: 1px inset #808080;
    border-radius: 5px;
}

.remove-link {
    color: #808080 !important;
    font-size: 14px !important;
    padding-top: 3px;
}

.remove-link:hover {
    color: #808080;
    text-decoration: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: black;
    /* green */
    border-radius: 50%;
}